In [58]:
#numeric data type 
a ="Sachin" #string 
print(a)
print(type(a))
a =100 
print(a)
print(type(a))
a =100.00 
print(a)
print(type(a))
a=1 + 3j #in python only j count in  an imaginary part 
print(type(a))

Sachin
<class 'str'>
100
<class 'int'>
100.0
<class 'float'>
<class 'complex'>

In [5]:
#boolean data type 
a =True
print(a)
print(type(a))

True
<class 'bool'>

In [6]:
#Sequence data types 
list1=[1,"Sachin",3,4,5]
print(list1)
print(type(list1))
tuple1=(1,"Sachin",3,4,5)
print(tuple1)
print(type(tuple1))

[1, 'Sachin', 3, 4, 5]
<class 'list'>
(1, 'Sachin', 3, 4, 5)
<class 'tuple'>

In [27]:
#map data type 
dictionary={
    "name":"Sachin",
    "surname":"Rathore",
    "number":100
}
print(dictionary)
print(dictionary["name"])
# print(dictonary["Sachin"])
print(dictionary["number"])
print(type(dictionary))
print(type(dictionary["number"]))
print(dictionary.values())
print(dictionary.keys())
value = "Rathore"
key = None
for k in dictionary.keys():
    if dictionary[k] == value:
        key = k
        break

if key is not None:
    print("Key for value \"" + value + "\": " + key)

{'name': 'Sachin', 'surname': 'Rathore', 'number': 100}
Sachin
100
<class 'dict'>
<class 'int'>
dict_values(['Sachin', 'Rathore', 100])
dict_keys(['name', 'surname', 'number'])
Key for value "Rathore": surname

In [52]:
name="Sachin"
surname="Rathore"
print(name + " " +surname)

Sachin Rathore

In [59]:
# Set data type 
#Removed Duplicate data
set1 = {1,2,3,4,4,4}
print(set1)
print(type(set1))

{1, 2, 3, 4}
<class 'set'>

In [62]:
#conditional statements

name="sachin"
surname="rathore"
if name=="Sachin":
    print("if condition is right")
elif name=="Rsachin":
    print("elif condition is right ")
else:
    print("else condition is right ")

else condition is right

In [76]:
# Loops
# for  Iterate in squence 
list1=[1,2,3,4,5,5]
list2=[]
for i in list1:
    if i in list2:
        continue
    list2.append(i)
   
print(list2)
list3=[]
for i in range(2,6,2): # (start,end-1,skip)
    list3.append(i)
print(list3)

[1, 2, 3, 4, 5]
[2, 4]

In [85]:
#While Loop
#exicute till While condition not gone wrong 
list1=[1,2,3,4,5,5,6,67,77]
i = 7
while list1[i]<len(list1):
    print(i)

In [2]:
# Enter a number that is not correct 
while True:
    num=int(input("Enter a number from 0 to 9 \n"))
    if num>=0 and num<=9:
        print("Congratulation !! you are correct ")
        break
    else:
        print("invaild synax")

Enter a number from 0 to 9
90
invaild synax
Enter a number from 0 to 9
90
invaild synax
Enter a number from 0 to 9
99
invaild synax
Enter a number from 0 to 9
8
Congratulation !! you are correct

In [4]:
file = open("file.txt", "r")
while True:
    line = file.readline()
    if not line:
        break
    print(line.strip())
file.close()

this is first line
this is second line
this is third line
this is fourth line this is also fourth line

this is 6th line

In [10]:
#function 
def name(Name,surname):
    print("Hello ",Name ,"your surname is ",surname)
name("sachin","Rathore")

Hello  sachin your surname is  Rathore

In [17]:
def sum(a,b,c):
    d=a+b+c
    return d
sum(10,20,30) #it will give output
print(sum(10,20,30))# it will give none bxz sum() inside the print() and sum() itself doesnot any return any values
sum_in_other_value=sum(10,20,10)
print(sum_in_other_value)

60
40

In [17]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
person1 = Person("Alice", 25)
print(person1.name)

Alice

In [18]:
class Person:
    def __str__(self, name, age):
        self.name = name
        self.age = age
person1 = Person("Alice", 25)
print(person1.name)

TypeError: Person() takes no arguments

In [21]:
name="sachin"
def __str__(self):
    return self.name

In [25]:
class result:
    def result(marks,grade):
        pass
obj=result(100,"A")
print(obj.marks)
print(obj.grade)

TypeError: result() takes no arguments

In [2]:
class Dog:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def bark(self):
        print("Woof!")
    
    def introduce(self):
        print(f"My name is {self.name} and I'm {self.age} years old.")
my_dog = Dog("Buddy", 3)
print(my_dog.name)  
print(my_dog.age)  

my_dog.bark()  

my_dog.introduce()

Buddy
3
Woof!
My name is Buddy and I'm 3 years old.

In [8]:
class student:
    def __init__(self, fname, lname, roll):
        self.fname = fname
        self.lname = lname
        self.roll_num = roll
    
    def get_roll(self):  # Renamed the method to get_roll
        print(f"The roll number of {self.fname} is {self.roll_num}")
    
    def msg(self):
        print(f"Congratulations !!!, succsefully  you got some information about {self.fname}")
        
admin = student("Sachin", "Rathore", 1)
print(admin.fname)  # Output: Sachin
admin.get_roll()  # Output: The roll number of Sachin is 1
admin.msg()

Sachin
The roll number of Sachin is 1
Congratulations !!!, succsefully  you got some information about Sachin